
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tbody .isnumber, #txtBasicEarning, #txtBasicDeduction, #txtGrossSalary, #txtPaymentAmountBankPc, #txtPaymentAmountCashPc {
        font-family: 'KalpurushANSI', sans-serif;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border"><span>কর্মকর্তাদের সাধারন তথ্য</span></div>
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 none">প্রাতিষ্ঠানিক কোড</label>
                    <div class="col-sm-4 none">
                        <input type="text" class="form-control " id="txtProtithanikCode">
                        <input type="text" class="form-control defaultZero" id="txtEmployeeId">
                    </div>
                    <label class="col-sm-2">আইডি কোড</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required " id="txtCodeNo">
                    </div>
                    <label class="col-sm-2 ">গ্রেড</label>
                    <div class="col-sm-4 ">
                        <select class="form-control required" id="txtgrade">
                            <option value="0">--Select--</option>
                            <option value="1">১ গ্রেড </option>
                            <option value="2">২ গ্রেড</option>
                            <option value="3">৩ গ্রেড</option>
                            <option value="4">৪ গ্রেড</option>
                            <option value="5">৫ গ্রেড </option>
                            <option value="6">৬ গ্রেড</option>
                            <option value="7">৭ গ্রেড</option>
                            <option value="8">৮ গ্রেড</option>
                            <option value="9">৯ গ্রেড </option>
                            <option value="10">১০ গ্রেড</option>
                            <option value="11">১১ গ্রেড</option>
                            <option value="12">১২ গ্রেড</option>
                            <option value="13">১৩ গ্রেড </option>
                            <option value="14">১৪ গ্রেড</option>
                            <option value="15">১৫ গ্রেড</option>
                            <option value="16">১৬ গ্রেড</option>
                            <option value="17">১৭ গ্রেড</option>
                            <option value="18">১৮ গ্রেড</option>
                            <option value="19">১৯ গ্রেড</option>
                            <option value="20">২০ গ্রেড</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">নাম</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control required" id="txtEmployeeName">
                    </div>
                    <label class="col-sm-2">মোবাইল নাম্বার</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtMobileNo" maxlength="11">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">ইউনিট</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <select class="form-control selectNoAdd" id="txtProjectId">
                                <option value="0">--select--</option>
                            </select>
                            @*<a data-toggle="modal" data-target="#newProject" class="input-group-addon btn btn-sm btn-success">+</a>*@
                        </div>
                    </div>
                    <label class="col-sm-2">বিভাগ</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <select class="form-control required  selectNoAdd" id="txtDeparmentId">
                                <option value="0">--select--</option>
                            </select>
                            @*<a data-toggle="modal" data-target="#newDepartment" class="input-group-addon btn btn-sm btn-success">+</a>*@
                        </div>
                    </div>
                    <label class="col-sm-2">পদবী</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <select class="form-control required  selectNoAdd" id="txtDesignationId">
                                <option value="0">--select--</option>
                            </select>
                            @*<a data-toggle="modal" data-target="#newDesignation" class="input-group-addon btn btn-sm btn-success">+</a>*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">এন.আই.ডি. নং</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtNID">
                    </div>
                    <label class="col-sm-2">টি.আই.এন/ই-টি.আই.এন</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtTAXNumber">
                    </div>
                    <label class="col-sm-2">তহবিল নাম্বার</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtTahabil">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">জন্ম তারিখ</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control datepicker" id="txtDateOfBirth">
                    </div>
                    <label class="col-sm-2">লিঙ্গ</label>
                    <div class="col-sm-2">
                        <select class="form-control required" id="txtGender">
                            <option value="0">--select--</option>
                        </select>
                    </div>
                    <label class="col-sm-2">জাতীয়তা</label>
                    <div class="col-sm-2">
                        <select class="form-control required  selectNoAdd" id="txtNationality">
                            <option value="0">--select--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">ধর্ম</label>
                    <div class="col-sm-2">
                        <select class="form-control  selectNoAdd" id="txtReligion"></select>
                    </div>
                    <label class="col-sm-2">নিয়গের তারিখ</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control datepicker" id="txtDateOfJoining">
                    </div>
                    <label class="col-sm-2">নিশ্চয়তার তারিখ</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control datepicker" id="txtDateOfConfirmation">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">বর্তমান ঠিকানা</label>
                    <div class="col-sm-4">
                        <textarea id="txtPresentAddress" rows="1" class="form-control defaultNA "></textarea>
                    </div>
                    <label class="col-sm-2">স্থায়ী ঠিকানা</label>
                    <div class="col-sm-4">
                        <textarea id="txtPermanentAddress" rows="1" class="form-control defaultNA "></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">কর্মকর্তার ব্যংক হিসাব নং</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control defaultNA" id="txtEmployeeBankAccountNo">
                    </div>
                    <label class="col-sm-2">ব্যংক এর নাম </label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <select class="form-control" id="txtEmployeeBankName" onchange="GetBranceNameByCatIdEmployee();">
                                <option value="0">--select--</option>
                            </select>
                            <a data-toggle="modal" data-target="#newEmployeeBank" class="input-group-addon btn btn-sm btn-success">+</a>
                        </div>
                    </div>
                    <label class="col-sm-2"> ব্যংক শাখার নাম </label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <select class="form-control " id="txtEmployeeBankBranch">
                                <option value="0">--select--</option>
                            </select>
                            <a data-toggle="modal" data-target="#CallEmployeeBankBranch" class="input-group-addon btn btn-sm btn-success">+</a>
                        </div>
                    </div>
                </div>
               
                <div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <p class="modal-title">নতুন  ইউনিট সংযক্তি</p>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="col-sm-4">ইউনিটের নাম</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtNewProjectName" placeholder="নতুন  ইউনিট সংযক্তি">
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-success btn-sm" onclick="SaveNewProject()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="newDepartment" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <p class="modal-title">নতুন বিভাগ সংযক্তি</p>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="col-sm-4">বিভাগের নাম</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtNewDepartmentName" placeholder="নতুন বিভাগ নাম">
                                        @*<input type="text" class="form-control none" id="txtNewDepartmentId" />*@
                                    </div>
                                </div>
                                <div class="form-group text-right">

                                    <input type="button" class="btn btn-primary btn-sm" value="Save" onclick="SaveNewDepartment();" />
                                    @*<input type="button" class="btn btn-info btn-sm" value="Update" onclick="UpdateNewDepartment()" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="newDesignation" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <p class="modal-title">নতুন পদবী সংযক্তি</p>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="col-sm-4">পদবী নাম</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtNewDesignationName" placeholder="নতুন পদবী নাম">
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-success btn-sm" onclick="SaveNewDesignation();">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="newEmployeeBank" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <p class="modal-title">নতুন  কর্মকর্তাদের ব্যংক সংযক্তি </p>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="col-sm-4">কর্মকর্তাদের ব্যংকএর নাম </label>
                                    <div class="col-sm-8">

                                        @*<input type="text" class="form-control isnumber" id="txtNameOfBank" readonly>*@
                                        <input type="text" class="form-control defaultNA selectNoAdd" id="txtNewEmployeeBankName" placeholder="কর্মকর্তাদের ব্যংকএর নাম ">
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-success btn-sm" onclick="SaveNewEmployeeBank()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="CallEmployeeBankBranch" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <p class="modal-title">নতুন ব্যংকের শাখা সংযক্তি</p>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="col-sm-4">ব্যংকের নাম</label>
                                    <div class="col-sm-8">

                                        <input type="text" class="form-control isnumber" id="txtNameOfEmployeeBank" disabled>

                                    </div>
                                    <label class="col-sm-4" style="margin-top: 10px;">শাখার নাম</label>
                                    <div class="col-sm-8">


                                        <input type="text" class="form-control" id="txtNewEmployeeBankBranchName" placeholder="New Branch Entry" style="margin-top: 10px;">
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-success btn-sm" onclick="SaveNewEmployeeBankBranch()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
                <div class="form-group">
                    <label class="col-sm-2">কর্মকর্তার ছবি</label>
                    <div class="col-sm-2">
                        <input type="file" class="form-control image1" />
                        <img id="image1" src="" width="100">
                    </div>
                   
                    <label class="col-sm-2">জীবন বীমা নাম্বার</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control defaultZero " id="txtJibonBimaNumber">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="box box-info">
                    <div class="box-header with-border"><span>উপার্জন</span></div>
                    <div class="box-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover table-bordered">
                                <tbody id="Earningbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box box-info">
                    <div class="box-header with-border"><span>কর্তন</span></div>
                    <div class="box-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-hover table-bordered">
                                <tbody id="Deductionbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2">প্রাথমিক মোট উপার্জন</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control isnumber" value="0" id="txtBasicEarning" disabled>
                    </div>
                    <label class="col-sm-2">প্রাথমিক মোট কর্তন </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control isnumber" value="0" id="txtBasicDeduction" disabled>
                    </div>
                    <label class="col-sm-2">মোট বেতন</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control isnumber" id="txtGrossSalary" disabled>
                    </div>
                </div>
                <div class="form-group none">
                    <label class="col-sm-2">ব্যংক এর মাধ্যমে প্রদান</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control  isnumber" id="txtPaymentAmountBankPc" value="0">
                    </div>
                    <label class="col-sm-2">নগদ প্রদান</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control  isnumber" id="txtPaymentAmountCashPc" value="0">
                    </div>
                </div>

                    <div class="button-group text-center">
                        <input type="submit" class="btn btn-success" id="btnSave" onclick="Save();" value="Save">
                    </div>
                </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            GetGenderList();
            GetReligionList();
            GetNationality();
            GetEarrinngName();
            GetDeductionName();
            GetDeparmentList();
            GetDesignationList();
            GetProjectId();
            GetCompanyBankName();

            $(document).on("keyup", "tbody .deduction, tbody .earning", calculateGrid);
            $(document).on("keyup", "tbody .isnumber", isnumber);

            $('#txtCodeNo').autocomplete({
                source: function(request, response) {
                    $.ajax({
                        type: "GET",
                        url: "@UrlConfig.Action("GetEmployeeList", "EmployeeGLOApi")",
                        dataType: "Json",
                        data: { 'searchString': $("#txtCodeNo").val() },
                        success: function(data) {
                            response(data.slice(0, 10));
                        }
                    });
                },
                select: function(event, ui) {
                    getEmployeeDetailById(ui.item.emId);
                    $("#btnSave").val("Update");
                    return false;
                },
                minLength: 3
            }).data("ui-autocomplete")._renderItem = function(ul, item) {
                if (ul.children().length === 0) {
                    $("<thead><tr><th>কোড</th><th>নাম</th><th>মোবাইল</th><th>পদবী</th></tr></thead>").appendTo(ul)
                }
                var html = "<td>" + item.emCode + "</td>";
                html += "<td>" + item.emName + "</td>";
                html += "<td>" + item.emMobileNo + "</td>";
                html += "<td>" + item.emDesignationName + "</td>";
                return $("<tr></tr>").append(html).appendTo(ul);
            };
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) { $('#image1').attr('src', e.target.result); }
                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".image1").change(function() {
            var imgSize = parseFloat(this.files[0].size);
            if (imgSize > 1000000) {
                alert("Upload image size not more 1MB!!!");
            } else {
                readURL(this);
            }
        });

        function isnumber() {
            $('.isnumber').keypress(function(e) {
                var character = String.fromCharCode(e.keyCode);
                var newValue = this.value + character;
                if (isNaN(newValue) || parseFloat(newValue) * 100 % 1 > 0) {
                    e.preventDefault();
                    return false;
                }
            });
        }

        function getEmployeeDetailById(param) {
            $.ajax({
                type: "GET",
                url: "@UrlConfig.Action("GetEmployeeDetalsList", "EmployeeGloApi")",
                dataType: "Json",
                data: { 'searchString': param },
                success: function (data) {
                    $('#txtEmployeeId').val(data[0].emId);
                    $('#txtCodeNo').val(data[0].emCode);
                    $("#txtgrade").val(data[0].grade);
                    $('#txtEmployeeName').val(data[0].emName);
                    $('#txtMobileNo').val(data[0].emMobileNo);
                    $('#txtProjectId').val(data[0].emProjectId).trigger('change');
                    $('#txtDeparmentId').val(data[0].emDepartmentId).trigger('change');
                    $('#txtDesignationId').val(data[0].emDesignationId).trigger('change');
                    $("#txtNID").val(data[0].nid);
                    $("#txtTAXNumber").val(data[0].taxNumber);
                    $("#txtTahabil").val(data[0].tahabil);
                    $('#txtDateOfBirth').val(ToJsonDate(data[0].emDob));
                    $('#txtGender').val(data[0].emGender).trigger('change');
                    $('#txtNationality').val(data[0].emNationality).trigger('change');
                    $('#txtReligion').val(data[0].emreligion).trigger('change');
                    $('#txtDateOfJoining').val(ToJsonDate(data[0].emDoj));
                    $('#txtDateOfConfirmation').val(ToJsonDate(data[0].emDoConfirmation));
                    $('#txtPresentAddress').val(data[0].emPresentAddress);
                    $('#txtPermanentAddress').val(data[0].emPermanentAddress);
                    $('#txtEmployeeBankAccountNo').val(data[0].emSalaryBankAccountNo);
                    $('#txtEmployeeBankName').val(data[0].emBankId).prop('selected', true);
                    $('#txtJibonBimaNumber').val(data[0].jibonBimaNumber);
                    $('#txtPaymentAmountBankPc').val(data[0].emPaymentAmountBankPc);
                    $('#txtPaymentAmountCashPc').val(data[0].emPaymentAmountCashPc);
                    

                    var rows = "<option value=" + data[0].emBranchId + ">" + data[0].emBankBanchName + "</option>"; //value should be name...
                    $('#txtEmployeeBankBranch').append(rows);
                    $('#txtEmployeeBankBranch').val(data[0].emBranchId).trigger('change');
                   // alert(data[0].emEmpImage);
                    $('#image1').attr("src", data[0].emEmpImage);
                    //$("#txtJibonBimaNumber").val(data[0].jibonBimaNumber);
                    //$('#txtBasicEarning').val(data[0].emBasicEarning);
                    //$('#txtBasicDeduction').val(data[0].emBasicDeduction);
                    //$('#txtGrossSalary').val(data[0].emGrossSalary);

                    for (var i = 0; i < data.length; i++) {
                        var table = $('#Earningbody, #Deductionbody');
                        subtotal = 0;
                        table.find('tr').each(function () {
                            var $tds = $(this).find('td');
                            if ($tds.eq(0).text() == data[i].itemid) {
                                $tds.eq(3).find("input").val(data[i].itemCharge);
                                total = parseFloat(data[i].itemCharge);
                            }
                            subtotal+= total
                        });
                        $("#txtBasicEarning").val(subtotal);
                    }
                    var table = $('#Earningbody');
                    Earningtotal = 0;
                    table.find('tr').each(function () {
                        var $tds = $(this).find('td');
                        Earning = parseFloat($tds.eq(3).find("input").val());
                        Earningtotal += Earning;
                    });
                    $("#txtBasicEarning").val(Earningtotal);

                    var table = $('#Deductionbody');
                    Deductiontotal = 0;
                    table.find('tr').each(function () {
                        var $tds = $(this).find('td');
                        Deduction = parseFloat($tds.eq(3).find("input").val());
                        Deductiontotal += Deduction;
                    });
                    $("#txtBasicDeduction").val(Deductiontotal);
                    $("#txtGrossSalary").val($("#txtBasicEarning").val()-$("#txtBasicDeduction").val());
                },
                error: function(errormessage) { alert(errormessage.responseText); }
            });
        }

        function GetCompanyBankName() {
            $.ajax({
                type: "GET",
                url: "@UrlConfig.Action("GetCompanyBankName", "EmployeeGloApi")",
                dataType: "Json",
                success: function(data) {
                    $('#txtEmployeeBankName, #txtCompanyBankName').html($("<option></option>").attr("value", 0).text("-- Select --"));
                    $.each(data, function(key, item) {
                        var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                        $('#txtEmployeeBankName, #txtCompanyBankName').append(rows);
                    });
                },
                error: function(errormessage) { alert(errormessage.responseText); }
            });
        }

        function GetBranceNameByCatIdEmployee() {
            $.ajax({
                type: "GET",
                url: "@UrlConfig.Action("GetBranchNameByBankId", "EmployeeGloApi")",
                dataType: "Json",
                data: { 'catId': $("#txtEmployeeBankName").val() },
                success: function(data) {
                    $('#txtEmployeeBankBranch').html($("<option></option>").attr("value", 0).text("-- Select --"));
                    $.each(data, function(key, item) {
                        var rows = "<option value=" + item.id + ">" + item.name + "</option>";
                        $('#txtEmployeeBankBranch').append(rows);
                    });
                },
                error: function(errormessage) { alert(errormessage.responseText); }
            });
        }

        function GetBranceNameByCatId() {
            $.ajax({
                type: "GET",
                url: "@UrlConfig.Action("txtCompanyBankName", "EmployeeGloApi")",
                dataType: "Json",
                data: { 'catId': $("#txtCompanyBankBranch").val() },
                success: function(data) {
                    $('#txtCompanyBankBranch').html($("<option></option>").attr("value", 0).text("-- Select --"));
                    $.each(data, function(key, item) {
                        var rows = "<option value=" + item.Id + ">" + item.name + "</option>";
                        $('#txtCompanyBankBranch').append(rows);
                    });
                },
                error: function(errormessage) { alert(errormessage.responseText); }
            });
        }

        function GetDeparmentList() {
            $.ajax({
                type: "GET",
                url: "@UrlConfig.Action("GetDeparmentList", "EmployeeGloApi")",
                dataType: "Json",
                success: function(data) {
                    $('#txtDeparmentId').html($("<option></option>").attr("value", 0).text("-- Select --"));
                    $.each(data, function(key, item) {
                        var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                        $('#txtDeparmentId').append(rows);
                    });
                },
                error: function(errormessage) { alert(errormessage.responseText); }
            });
        }

        function GetDesignationList() {
            $.ajax({
                type: "GET",
                url: "@UrlConfig.Action("GetDesignationList", "EmployeeGloApi")",
                dataType: "Json",
                success: function(data) {
                    $('#txtDesignationId').html($("<option></option>").attr("value", 0).text("-- Select --"));
                    $.each(data, function(key, item) {
                        var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                        $('#txtDesignationId').append(rows);
                    });
                },
                error: function(errormessage) { alert(errormessage.responseText); }
            });
        }

        function GetProjectId() {
            $.ajax({
                type: "GET",
                url: "@UrlConfig.Action("GetProjectId", "EmployeeGloApi")",
                dataType: "Json",
                success: function(data) {
                    $('#txtProjectId').html($("<option></option>").attr("value", 0).text("-- Select --"));
                    $.each(data, function(key, item) {
                        var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                        $('#txtProjectId').append(rows);
                    });
                },
                error: function(errormessage) { alert(errormessage.responseText); }
            });
        }

        function GetNationality() {
            $.ajax({
                type: "GET",
                url: "@UrlConfig.Action("GetNationalityList", "EmployeeGloApi")",
                dataType: "Json",
                success: function(data) {
                    $('#txtNationality').html($("<option></option>").attr("value", 0).text("-- Select --"));
                    $.each(data, function(key, item) {
                        var rows = "<option value='" + item.id + "'>" + item.name + "</option>";
                        $('#txtNationality').append(rows);
                    });
                },
                error: function(errormessage) { alert(errormessage.responseText); }
            });
        }


        function GetDeductionName() {
            $.ajax({
                url: "@UrlConfig.Action("GetDetecttionName", "EmployeeGloApi")",
                type: "GET",
                datatype: "json",
                success: function(data) {
                    $('#Deductionbody').empty();
                    $.each(data, function(key, item) {
                        var rows = "<tr>"
                            + "<td class='none'>" + item.id + "</td>"
                            + "<td>" + item.name + "</td>"
                            + "<td class='none'>" + item.anotherName + "</td>"
                            + "<td><input type='text' class='isnumber deduction' value='0'></td>"
                            + "</tr>";
                        $('#Deductionbody').append(rows);
                    });
                },
            });
        }

        function GetEarrinngName() {
            $.ajax({
                url: "@UrlConfig.Action("GetEarrinngName", "EmployeeGloApi")",
                type: "GET",
                datatype: "json",
                success: function(data) {
                    $('#Earningbody').empty();
                    $.each(data, function(key, item) {
                        var rows = "<tr>"
                            + "<td class='none'>" + item.id + "</td>"
                            + "<td>" + item.name + "</td>"
                            + "<td class='none'>" + item.anotherName + "</td>"
                            + "<td><input type='text' class='isnumber earning' value='0'></td>"
                            + "</tr>";
                        $('#Earningbody').append(rows);
                    });
                },
            });
        }


        function calculateGrid() {
            var totalEarning = 0, totalDeduction = 0;
            $(".earning").each(function() {
                if (!isNaN(this.value) && this.value.length != 0) {
                    var total = parseFloat(this.value);
                    totalEarning += parseFloat(total);
                }
            });
            $(".deduction").each(function() {
                if (!isNaN(this.value) && this.value.length != 0) {
                    var total = parseFloat(this.value);
                    totalDeduction += parseFloat(total);
                }
            });
            $("#txtBasicEarning").val(totalEarning);
            $("#txtBasicDeduction").val(totalDeduction);
            $("#txtGrossSalary").val(totalEarning - totalDeduction);
        }

        function Save() {
            
            if (confirm("Are you sure!!")) {
                var res = validation();
                if (res == true) {
                    var vouchers = [];
                    var table = $('#Earningbody, #Deductionbody');
                    table.find('tr').each(function() {
                        var $tds = $(this).find('td'),
                            tItemId = $tds.eq(0).text(),
                            tItemType = $tds.eq(2).text(),
                            tItemCharge = $tds.eq(3).find("input").val();

                        var voucher = {
                            ProtithanikCode: '১৬২০৪০১',
                            EmId: $('#txtEmployeeId').val(),
                            EmCode: $('#txtCodeNo').val(),
                            Grade: $("#txtgrade").val(),
                            EmName: $('#txtEmployeeName').val(),
                            EmMobileNo: $('#txtMobileNo').val(),
                            EmProjectId: $('#txtProjectId').val(),
                            EmDepartmentId: $('#txtDeparmentId').val(),
                            EmDesignationId: $('#txtDesignationId').val(),
                            NID: $("#txtNID").val(),
                            TAXNumber: $("#txtTAXNumber").val(),
                            Tahabil: $("#txtTahabil").val(),
                            EmDob: $('#txtDateOfBirth').val(),
                            EmGender: $('#txtGender').val(),
                            EmNationality: $('#txtNationality').val(),
                            Emreligion: $('#txtReligion').val(),
                            EmDoj: $('#txtDateOfJoining').val(),
                            EmDoConfirmation: $('#txtDateOfConfirmation').val(),
                            EmPresentAddress: $('#txtPresentAddress').val(),
                            EmPermanentAddress: $('#txtPermanentAddress').val(),
                            EmSalaryBankAccountNo: $('#txtEmployeeBankAccountNo').val(),
                            EmBankId: $('#txtEmployeeBankName').val(),
                            EmBranchId: $('#txtEmployeeBankBranch').val(),
                            //EmEmpImage: $('#image1').attr("src"),
                            JibonBimaNumber: $("#txtJibonBimaNumber").val(),
                            EmPaymentAmountCashPc: $("#txtPaymentAmountCashPc").val(),
                            EmPaymentAmountBankPc: $("#txtPaymentAmountBankPc").val(),
                            //EmBasicEarning: $('#txtBasicEarning').val(),
                            //EmBasicDeduction: $('#txtBasicDeduction').val(),
                            //EmGrossSalary: $('#txtGrossSalary').val(),
                            itemid: tItemId,
                            itemType: tItemType,
                            itemCharge: tItemCharge,

                            
                            @*UserName: "@System.Web.HttpContext.Current.Session["UserName"]",*@
                        };
                       
                        vouchers.push(voucher);
                            //console.log(vouchers);
                    });
                    //alert(JSON.stringify(vouchers));
                    //console.log(vouchers);
                    //return false;
                    $.ajax({
                        type: "Post",
                        url: apiUrl + "EmployeeGloApi/Post",
                        contentType: "application/json; charset=utf-8",
                        dataType: "Json",
                        data: JSON.stringify(vouchers),
                        success: function(data) {
                        //    alert(JSON.stringify(data));
                        //    //location.reload(true);
                        //},
                        //error: function(errormessage) {
                        //    alert(errormessage.responseText);
                        //   // location.reload(true);
                        }
                    });
                    var img = $("#image1").attr("src");
                    
                    $.ajax({
                        url: "@Url.Action("SaveImageAndSignature", "EmployeeGlobal")",
                        type: "POST",
                        data: function () {
                            var data = new FormData();
                            data.append("EmCode", jQuery("#txtCodeNo").val());
                            data.append("imageString", img);
                            return data;
                        }(),
                        contentType: false,
                        processData: false,
                        success: function (response) {
                             alert("Saved Success"); location.reload(true);
                        },
                    });
                    return false;
                } else {alert("Please fill required field");}
                return false;
                location.reload(true);
            } else {return false;}
            
        }


        //$("#txtPaymentAmountCashPc").on('keyup', function () {
        //    $("#txtPaymentAmountBankPc").val(0);
            
        //    $("#txtPaymentAmountBankPc").val(parseFloat($("#txtGrossSalary").val()) - parseFloat($("#txtPaymentAmountCashPc").val()));
        //    if (parseFloat($("#txtPaymentAmountCashPc").val()) > parseFloat($("#txtGrossSalary").val())) {
        //        alert("Over to gross salary");
        //        $("#txtPaymentAmountCashPc").val(0);
        //        $("#txtPaymentAmountBankPc").val(0);
        //    }
        //});
        //$("#txtPaymentAmountBankPc").on('keyup', function () {
        //    $("#txtPaymentAmountCashPc").val(0);
        //    $("#txtPaymentAmountCashPc").val(parseFloat($("#txtGrossSalary").val()) - parseFloat($("#txtPaymentAmountBankPc").val()));

        //    if (parseFloat($("#txtPaymentAmountBankPc").val()) > parseFloat($("#txtGrossSalary").val())) {
        //        alert("Over to gross salary");
        //        $("#txtPaymentAmountBankPc").val(0);
        //        $("#txtPaymentAmountCashPc").val(0);
        //    }
        //});
    </script>
}
